{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
  <div class="text-center">
  <img src="{% static "hello/me.jpg" %}" alt="me">
  <h1>Hi, I'm clam.</h1>
  </div>
  <div class="row">
    <div class="col-xs6-6 col-sm-4 text-left">
      <h3>About me:</h3>
      <div class="btn-group-vertical" role="group">
        <a type="button" class="btn btn-lg btn-default" href="https://www.linkedin.com/in/clarence-lam-42568463"><span class="glyphicon glyphicon-user"></span> Linkedin</a>
        <a type="button" class="btn btn-lg btn-primary" href="https://github.com/clarencelam1/"><img src="{% static "hello/github-light.png" %}" alt="github"> GitHub</a>
        <a type="button" class="btn btn-lg btn-primary" href="{% static "hello/resume.pdf "%}"><span class ="glyphicon glyphicon-list-alt"></span> Resume</a>
        <a type="button" class="btn btn-lg btn-danger"  href="https://www.youtube.com/user/n0gard"><span class="glyphicon glyphicon-play"></span> Youtube</a>
      </div>
    </div>
    <div class="text-center">
      <h3>Web development resources:</h3>
      <div class="col-xs6-6 col-sm-4">
        <a href="https://www.w3schools.com/html/" class="thumbnail">
          <img class = "img-rounded" src="{% static "hello/wc3.png" %}" alt="WC3 school">
          </a>
        <a href="http://getbootstrap.com/" class="thumbnail">
          <img class = "img-rounded" src="{% static "hello/bootstrap.png" %}" alt="Bootstrap">
        </a>
      </div>
      <div class="col-xs6-6 col-sm-4">
        <a href="https://jquery.com/" class="thumbnail">
          <img class = "img-rounded" src="{% static "hello/jQuery.png" %}" alt="jQuery">
        </a>
        <a href="http://jgthms.com/web-design-in-4-minutes/" class="thumbnail">
          <img class = "img-rounded" src="{% static "hello/jt.jpg" %}" alt="Jermey Thomas">
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
