{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}

<div class="container text-center">
  <h1>Welcome to my Portfolio!</h1>
  <a type="button" class="btn btn-lg btn-default" href="https://www.linkedin.com/in/clarence-lam-42568463"><span class="glyphicon glyphicon-user"></span> Linkedin</a>
  <a type="button" class="btn btn-lg btn-primary" href="https://github.com/clarencelam1/"><img src="{% static "hello/github-light.png" %}" alt="github"> Github</a>
  <a type="button" class="btn btn-lg btn-primary" href="https://github.com/clarencelam1/"> GitHub</a>
  <a type="button" class="btn btn-lg btn-primary" href="{% static "hello/resume.pdf "%}""> resume</a>
  <a type="button" class="btn btn-lg btn-primary" href="/resume.pdf"> resume</a>
</div>
{% endblock %}
